/* TODO: Reset body margins */
/* TODO: Use display flex to position all elements, don't use position: absolute */

.mntn {
    position: relative;
    /* TODO: Make width 100% */
    width: 1920px;
    height: 4600px;
    background: #0B1D26;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.header {
    /* TODO: Use display flex to position all elements, don't use position: absolute */
    position: absolute;
    width: 1760px;
    /* TODO: Remove width */
    height: 25px;
    left: 80px;
    top: 64px;
}

.logo {
    /* TODO: Use display flex to position all elements, don't use position: absolute */
    position: absolute;
    width: 108px;
    height: 24px;
    left: 0px;
    top: 0px;
}

/* TODO: Use one container to display text logo, remove absolute positioning */
.n {
    position: absolute;
    width: 26px;
    height: 38px;
    left: 82px;
    top: -6px;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.t {
    position: absolute;
    width: 24px;
    height: 38px;
    left: 58px;
    top: -6px;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.n0 {
    position: absolute;
    width: 26px;
    height: 38px;
    left: 32px;
    top: -6px;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;

}

.m {
    position: absolute;
    width: 32px;
    height: 38px;
    left: 0px;
    top: -6px;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* TODO: Use one container to display text logo, remove absolute positioning */
.account {
    position: absolute;
    width: 98px;
    height: 24px;
    left: 1662px;
    top: 1px;
}

.text {
    position: absolute;
    width: 66px;
    height: 21px;
    left: 1694px;
    top: 3px;
    font-family: 'Gilroy';
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}
